*, :before, :after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', 'Sans serif';
}

html, body {
  background-color: #1f2029;
}

div.container {
  margin: 34px auto;
  width: 260px;
  background-color: #225470;;
}

div.dropdown {
  position: relative;
}

div.dropdown > div.caption {
  background-color: #a6bac5;
  padding: 11px 24px;
  border-radius: 3px;
  cursor: pointer;
}

div.dropdown > div.list {
  position: absolute;
  background-color: #f2f2f2;
  width: 20%;
  border-radius: 0 0 3px 3px;
  display: none;
}
.btn{
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
div.dropdown > div.list > div.item {
  padding: 11px 24px;
  cursor: pointer;
}

div.dropdown > div.list > div.item.selected {
  font-weight: bold;
}

div.dropdown > div.caption:hover,
div.dropdown > div.list > div.item:hover {
  background-color: rgb(83, 161, 214);
  color: #a6bac5
}

div.dropdown.open > div.caption {
  border-radius: 3px 3px 0 0;
  border-bottom: solid 1px #a6bac5;
}

div.dropdown.open > div.list {
  display: block;
}