<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web을 통한 항만 건설 Robot 제어</title>
  <link rel="stylesheet" href="find password.css">
</head>
<body>
  <div class="find-password-page" ng-controller="FindIdCtrl as findIdCtrl">
    <div class="find-password-header">비밀번호 찾기</div>
    <div class="find-password-content">
        <div class="find-password-div">등록하신 <span>E-Mail</span> 주소를 입력하세요.</div>
        <div><input type="text" name="txtEmail" placeholder="E-Mail"></div>
    </div>
    <a href="Index.html" class="find-password-button"><button id="passwordRequest">처음으로</button></a>
    <a href="password.html" class="find-password-button"><button id="passwordRequest">메일 보내기</button></a>
  </div>
</body>
</html>
