<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web을 통한 항만 건설 Robot 제어</title>
  <link rel="stylesheet" href="https://drive.google.com/uc?export=view&id=1FoC0luMjrRFGo5CkF1HwH58y3aLBvWr1">
</head>
<body>
  <div class="find-password-page" ng-controller="FindIdCtrl as findIdCtrl">
    <div class="find-password-header">비밀번호 찾기</div>
    <div class="find-password-content">
        <div class="find-password-div">등록하신 <span>E-Mail</span>로 비밀번호가 전송되었습니다.</div>
    </div>
    <a href="joinForm.html" class="find-password-button"><button id="passwordRequest">확인</button></div></a>
  </div>
</body>
</html>
