<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web을 통한 항만 건설 Robot 제어</title>

    <style>
        /* 이미지를 전체 화면 크기로 확대 */
        body, html {
            height: 100%;
            margin: 0;
            overflow: hidden;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            width: 60%;
            height: 100%;
        }
    </style>
</head>
<body>

<img th:src="@{/img/robot.png}" alt="로봇 이미지">
</body>
</html>