<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web을 통한 항만 건설 Robot 제어</title>
  <link rel="stylesheet" href="selectmenu.css">
<script src="selectmenu.js"></script>

</head>
<body>


  <div class="container">
    <div>.<div>.<div>.</div></div>
    </div>
    
    <div class="dropdown">
      <div class="caption"><p style="text-align: center;"><a href="select robot.html">로봇 선택</a></p></div>
      <p>.</p>
      <div class="caption"><p style="text-align: center;"><a href="add robot.html">로봇 추가</a></p></div>
      <p>.</p>
      <div class="caption"><p style="text-align: center;"><a href="delete robot.html">로봇 삭제</a></p></div>
      <p>.</p>
      <div class="caption"><p style="text-align: center;"><a href="joinForm.html">처음으로</a></p></div>

  </div>
</body>
</html>
