<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web을 통한 항만 건설 Robot 제어</title>
<!--
  <link rel="stylesheet" href="https://drive.google.com/uc?export=view&id=1EMrJfE2cygpRh1KGJAXtE5ARgyWmEEWa">
  <link rel="stylesheet" href="https://drive.google.com/uc?export=view&id=1ksLtAuq-jHtL9TuEfmSwcSqfihsskGK3"></script>
-->
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<style>
  .spacing {
    margin: 50px 0; /* 상단과 하단의 마진을 20px로 설정 */
  }
</style>
<div class="header-overlay"></div>
<div class="spacing"></div>
<h1 style="text-align: center;">스마트해상물류 ICT 멘토링</h1>

<h1 style="text-align: center;">Web을 통한 항만 건설 Robot 제어[23_HP069]</h1>

<div class="spacing"></div>
  <div class="container">

    </div>
    
    <div class="dropdown">
      <div class="caption"><p style="text-align: center;"><a href="robot/SelectRobot" class="btn">로봇 선택</a></p></div>
      <p> </p>
      <div class="caption"><p style="text-align: center;"><a href="addRobot" class="btn">로봇 추가</a></p></div>
      <p>  </p>
      <div class="caption"><p style="text-align: center;"><a href="delete robot.html" class="btn">로봇 삭제</a></p></div>
      <p>  </p>
      <div class="caption"><p style="text-align: center;"><a href="joinForm.html" class="btn"> 처음으로 </a></p></div>
      <p>  </p>

  </div>
</body>
</html>
