<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.robotarm.Mapper.MemberMapper">
    <resultMap type="com.example.robotarm.Model.Member" id="MemberMap">
        <id property="m_id" column="m_id" /> <!-- Primary Key -->
        <result property="user_name" column="user_name" />
        <result property="user_email" column="user_email" />
        <result property="user_password" column="user_password" />
        <result property="company_id" column="company_id" />
        <result property="user_robot1" column="user_robot1" />
        <result property="user_robot2" column="user_robot2" />
        <result property="user_robot3" column="user_robot3" />
        <result property="user_robot4" column="user_robot4" />
        <result property="user_robot5" column="user_robot5" />
        <result property="user_favorites1" column="user_favorites1" />
        <result property="user_favorites2" column="user_favorites2" />
        <result property="user_favorites3" column="user_favorites3" />
        <result property="user_join_at" column="user_join_at" />
        <result property="user_edit_at" column="user_edit_at" />
        <result property="secession_at" column="secession_at" />
    </resultMap>
    <insert id="MemberAdd" parameterType="com.example.robotarm.Model.Member">
        INSERT INTO member(
            user_name,user_email, user_password,company_id,user_join_at)
        VALUES(
                  #{user_name},
                  #{user_email},
                  #{user_password},
                  #{company_id},
                  now()
              );
    </insert>

    <select id="isMember" parameterType="String" resultType="com.example.robotarm.Model.Member">
        SELECT
            *
        FROM
        member
        WHERE
            user_email = #{user_email};
    </select>
</mapper>